<script setup lang ="ts">
import { reactive, ref } from 'vue'

const dynamicTd = ref('MyID')
const titleClass = ref('title')
const myClasses = reactive({
    red: true,
    bold: true,
    underline: true
})
const myStyle = reactive({
    
        fontSize: '30pt',
        border: '2pt',
        borderStyle: 'solid'
    
})
myClasses.red = false
</script>
<template>
    <div :id="dynamicTd"  :class="myClasses" :style="myStyle">
    {{dynamicTd}}
    </div>
</template>
<style scoped>
.title {
    color: red;
}

.bold {
    font-weight: bold;
}

.underline{
    text-decoration: underline;
}
</style>